body{
    background-size: 100%;
}
table{
    border-radius: 20px;
    box-shadow: -4px 2px 43px 30px rgba(0,0,0,0.53);
    -webkit-box-shadow: -4px 2px 43px 30px rgba(0,0,0,0.53);
    -moz-box-shadow: -4px 2px 43px 30px rgba(0,0,0,0.53);
}
h1{
    color: rgb(23, 23, 23);
}